.weather{
    float: left;
}
.forecast {
    float: right;
}
body {
    height: 100%;
    flex-wrap: wrap;
    display: flexbox;
}
.header{
    width: 100%;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 50px;
}
.weather{
    border: 2px solid;
    width: 77%;
    display: flex;
    flex-wrap: wrap;
    float: right;
}
.todays-weather{
    width: 100%;
    float: right;
}
.low{
    background-color: green;
}
.high{
    background-color: orange;
}
.moderate{
    background-color: yellow;
}
.history{
    float: right;
    display: flex;
    flex-wrap: wrap;
}
.search{
    height: 100%;
    float: left;
    width: 22%;
}
.search button {
    background-color: lightblue;
    width: 70%;
}
.history-contents{
    font-size: large;
    margin: 1%;
    width: 70%;
    height: 40px;
}
#city-search{
    font-size: 30px;
}
#city-search input {
    width: 75%;
    height: 100%;
}
#today div{
    width: 40%
}
.todays-weather div {
    padding: 3px;
}
.todays-weather h2, .todays-weather h3{
    justify-content: space-evenly;
    display: inline;
    width: 45%
}
.todays-weather h2 {
    float: left;
}
.todays-weather h3 {
    float: right;
}
